numpy
pandas
matplotlib
ipykernel
ipywidgets
torch
accelerate
bitsandbytes
deepspeed
transformers
datasets
einops
huggingface-hub
peft
trl
pandera
pydantic
sentencepiece
tqdm
wandb
tensorboard
typer
pandarallel
pytest
neologdn
jsonlines
tenacity